<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MyMathServiceLib.MyMathService" behaviorConfiguration="myMathServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/GettingStartedLib/Service1/" />
            
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="GettingStartedLib.IService1"/>
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myMathServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>